.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7rem;
    border-bottom: $line;
    
    background-color: $color-white;
    font-size: 1.4rem;

    &__logo {
        height: 3.25rem;
        margin-left: 2rem;
    }
}