.overview {
    display: flex;

    &__heading {

    }

    &__stars {
        // flex: 1;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }

    &__location {
        margin-left: auto;
    }

    &__rating {
        &-average {

        }

        &-count {

        }
    }
}